DEBUG=1
# used for tweaking debug mode
SECRET_KEY=VLJX84tROdasfa!2141414cmasa
ALLOWED_HOSTS=127.0.0.1,localhost
# The URL of the used database
DATABASE_URL=mysql://example:example@db:3306/example
ADMIN_URL=admin
API_PATTERN=/api/