Django==4.0.2
django-environ==0.4.5
pre-commit==2.11.1
django-cors-headers
mysqlclient==2.0.3
djangorestframework==3.12.2
django-rest-knox==4.1.0
django-filter
factory-boy
coverage
codecov
django-cors-headers==3.11.0
django-environ==0.4.5
django-filter==21.1
django-model-utils==4.2.0
django-rest-knox==4.1.0
request-id-django-log==0.2.0
django-import-export
drf-yasg
django-tables2
django-bootstrap3
django-extensions
uwsgi
django_extensions