{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!doctype html>
<html>
<head>
    <title>List of levels</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        {% if filter %}
            <form action="" method="get" class="form form-inline">
                {% bootstrap_form filter.form layout='inline' %}
                {% bootstrap_button 'filter' %}
            </form>
        {% endif %}
        {% if table %}
            <table class="table table-bordered table-hover"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true">
                <thead class="thead-light">
                {% for id, name in columns.items %}
                    <th data-field="{{ id }}" data-sortable="true">{{ name }}</th>
                {% endfor %}
                </thead>
            </table>
        {% endif %}

    </div>
</div>
</body>
</html>